@import "tailwindcss";

:root {
}

@theme inline {
  /* Font size 16px */
  --font-sans: var(--font-roboto-sans);

  /* Primary Colors */
  --color-red: hsl(4, 100%, 67%);

  /* Neutral Colors */
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-gray: hsl(0, 0%, 58%);

  /* Animations */
  --animate-slideIn: toastEnter 0.5s ease-in-out forwards;
  --animate-slideOut: toastLeave 0.5s ease-in-out forwards;

  @keyframes toastEnter {
    0% {
      transform: translateY(50rem) scale(0);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes toastLeave {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50rem) scale(0);
    }
  }
}

* {
  /* @apply outline outline-yellow-300; */
}

body {
  background: var(--color-blue-700);
  color: var(--color-blue-800);
  font-size: var(--text-base);
  font-family: var(--font-roboto-sans), Arial, Helvetica, sans-serif;
}

.btn {
  @apply relative text-white rounded-lg;
  @apply text-lg font-bold cursor-pointer;

  /* Gradient glow */
  @apply before:content-[""] before:absolute before:inset-0;
  @apply before:bg-[linear-gradient(90deg,orange,red)] before:blur-xl before:opacity-0 hover:before:opacity-60;
  @apply motion-safe:before:duration-1000 before:ease-in-out before:translate-y-4;

  div {
    @apply bg-blue-800 px-4 py-4 relative z-10 rounded-lg overflow-hidden;

    /* Gradient background */
    @apply after:absolute  after:bg-linear-135 after:from-[hsl(355.6,100%,67.6%)] after:to-[hsl(8.3,100%,64.5%)];
    @apply after:inset-0 after:opacity-0 hover:after:opacity-100;
    @apply motion-safe:after:duration-1000 after:ease-in-out before:rounded-[inherit];

    span {
      @apply relative z-10;
    }
  }
}
