@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Font size 16px */
  --font-sans: var(--font-roboto-sans);

  /* Primary Colors */
  --color-red: hsl(4, 100%, 67%);

  /* Neutral Colors */
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-gray: hsl(0, 0%, 58%);
}

* {
  /* @apply outline outline-yellow-300; */
}

body {
  background: var(--color-blue-700);
  color: var(--color-blue-800);
  font-size: var(--text-base);
  font-family: var(--font-roboto-sans), Arial, Helvetica, sans-serif;
}

.btn {
  @apply bg-blue-800 text-white px-4 py-4 rounded-lg;
  @apply text-lg font-bold;
}
